<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
	<link rel="stylesheet" href="/style.css">
	<!--


	Aus großer Macht folgt große Verantwortung! 


	-->
</head>

	<body>
		<header>
			<a href="/">&lt;&lt; 1337observer</a>
		</header>
		<article id="main">
			{{ content }}
		</article>
	</body>

</html>
