<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>🌍🏄🏻‍♂️👁 1337observer</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<!--


	Aus großer Macht folgt große Verantwortung! 


	-->
</head>

<body>
	<div id="main">
		<pre>
  __ ____ ____ ______    _                                  
 /_ |___ \___ \____  |  | |                                 
  | | __) |__) |  / /__ | |__  ___  ___ _ ____   _____ _ __ 
  | ||__ &lt;|__ &lt;  / / _ \| '_ \/ __|/ _ \ '__\ \ / / _ \ '__|
  | |___) |__) |/ / (_) | |_) \__ \  __/ |   \ V /  __/ |   
  |_|____/____//_/ \___/|_.__/|___/\___|_|    \_/ \___|_|   
		</pre>
		<h1 style="text-align: center">🌍🏄🏻‍♂️👁 the_1337_file.txt</h1>
		<p>
			Diese eine Datei, die jeder auf seinem Rechner hat und direkt
			weitergeben kann. Eine Anleitung und Cheatsheet zum Pentesting, 
			Hacking und Tricks für die Shell.
		</p>

		<h2>Die Datei</h2>
		<p>
			Die Datei selbst wird vorallem mit der Suchfunktion deines 
			Lieblingseditors benutzt.
		</p>
		<h2>Download</h2>
		<a href="/the_1337_file.txt">DOWNLOAD FILE</a>
		
		<h2>Fuzzing Listen</h2>
		<ul>
			<li>
				<a href="/lists/dns.txt">dns.txt</a>
			</li>
			<li>
				<a href="/lists/forced-browsing.txt">forced-browsing.txt</a>
			</li>
			<li>
				<a href="/lists/usernames.txt">usernames.txt</a>
			</li>
			<li>
				<a href="/lists/passwords.txt">passwords.txt</a>
			</li>
			<li>
				<a href="/lists/php-filenames.txt">php-filenames.txt</a>
			</li>
			<li>
				<a href="/lists/http-param.txt">http-param.txt</a>
			</li>
			<li>
				<a href="/lists/leaky-urls.txt">leaky-urls.txt</a>
			</li>
			<li>
				<a href="/lists/interesting-names.txt">interesting-names.txt</a>
			</li>
		</ul>

		Änderungen und Erweiterungen direkt in 
		<a href="https://github.com/Leetcore/1337-observer">Github</a>.
	</div>
</body>

</html>
